div .Panel-Table-Main {
    padding: 5px;
}

    div .Panel-Table-Main > div:first-child {
        border-top: 1px solid #C0DEE8;
    }

    div .Panel-Table-Main > div {
        background-color: #ECF5F8;
        float: left;
        width: 100%;
        border-bottom: 1px solid #C0DEE8;
        border-left: 1px solid #C0DEE8;
        border-right: 1px solid #C0DEE8;
    }

        div .Panel-Table-Main > div > div:first-child {
            float: left;
            padding: 5px;
            padding-right: 20px;
            width: 15%;
            text-align: right;
            vertical-align: middle;
        }

        div .Panel-Table-Main > div > div:nth-child(2) {
            float: left;
            padding: 5px;
            padding-left: 20px;
            width: 30%;
            text-align: left;
            border-left: 1px solid #C0DEE8;
            border-right: 1px solid #C0DEE8;
        }

        div .Panel-Table-Main > div > div:nth-child(3) {
            float: left;
            padding: 5px;
            padding-right: 20px;
            width: 15%;
            text-align: right;
            vertical-align: middle;
        }

        div .Panel-Table-Main > div > div:last-child {
            padding: 5px;
            padding-left: 20px;
            float: left;
            width: 30%;
            text-align: left;
            border-left: 1px solid #C0DEE8;
        }
