@{
    ViewBag.Title = "角色管理";
    Layout = "~/Views/Shared/_MainManage.cshtml";
}
<script type="text/javascript">
    $(function () {
        loadGrid();

        $("#a_Add").bind("click", function () {
            window.parent.addPanel('新增角色', '/Base_Role/Edit')
        });

        $("#a_Delete").bind("click", function () {
            var opts = $('#tgrid').datagrid('getChecked');
            for (i = 0; i < opts.length; i++) {
                $.ajax({
                    type: "POST",
                    url: "/Base_Role/Delete",
                    data: opts[i],
                    success: function (msg) {
                        if (msg > 0) {
                            window.parent.removePanelByTitle("角色管理");
                            CancelTab();
                        }
                        else {
                            $.messager.alert('删除失败', '删除失败!');
                        }
                    }
                });
            }
        });
    })


    //加载表格datagrid
    function loadGrid() {
        //加载数据
        $('#tgrid').datagrid({
            striped: true,
            singleSelect: true,
            url: '/Base_Role/RoleList',
            //queryParams:{},
            loadMsg: '数据加载中请稍后……',
            pagination: true,
            rownumbers: true,
            columns: [[
                { field: 'ck', checkbox: true, align: 'center', width: 10 },
                { field: 'Code', title: 'Code', align: 'center', width: 100 },
                { field: 'Name', title: '角色名称', align: 'center', width: 200 },
                {
                    field: 'Createtime', title: '创建时间', align: 'center', width: 200
                },
                { field: 'Creater', title: '创建人', align: 'center', width: 200 }
            ]],
            onDblClickRow: function (index, row) {
                window.parent.addPanel(row.Name + "--角色编辑", '/Base_Role/Edit/' + row.ID);
            }
        });
    }
</script>

<table id="tgrid" class="easyui-datagrid"
       data-options="
               fit:true,
               border:false"
       toolbar="#tb"></table>

<div id="tb">
    <a id="a_Add" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">新增</a>
    <a id="a_Delete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">删除</a>
</div>
